{% extends "base.html" %}


{% block content %}
  
<!-- Start Section -->

<section class="main-section users">
    <div class="container">
  
      <h4 class="main-heading">{{dealer.name}} </h4>
      <h6 >إجمالي الصادر :  {{total_export_price}}</h6>
      <h6 >إجمالي السحبية مع الأدوات :  {{total_withdrawals_materails}}</h6>
      <div
        class="d-flex align-items-center flex-wrap justify-content-end mb-2"
      >
      
      <a href="{% url 'transactions:withdraw_by_dealer' dealer.id %}"><button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modal-add"
        class="btn-main-sm"
      >
         السحبية
      </button>
      </a>

      <a href="{% url 'transactions:imp_by_dealer' dealer.id %}"><button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modal-add"
        class="btn-main-sm"
      >
         الوارد
      </button>
      </a>

      <a href="{% url 'transactions:exp_by_dealer' dealer.id %}"><button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modal-add"
        class="btn-main-sm"
      >
         الصادر
      </button>
      </a>
   

     
      
   
      </div>
      <div class="table-responsive">
        <table class="table main-table">
          <thead>
            <tr>
              <th>#</th>
              <th>اسم التاجر</th>
              <th> لنا أو علينا</th>
              <th class="text-center">التحكم</th>
            </tr>
          </thead>
            
          <tbody>
            <tr>
                <td>1</td>
                <td>{{dealer.name}}</td>
                <td>{{debit_or_credit}}</td>
                <td>
                    <div
                    class="d-flex align-items-center justify-content-center gap-1"
                >
                <a href="{% url 'dealer:add_edit_dealer' dealer.id %}"><div
                    class="btn btn-sm btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-edit"
                    >
                    تعديل
                  </div>
                </a>
                <a href="{% url 'dealer:delete_dealer' dealer.id %}"><div
                    class="btn btn-sm btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-delete"
                  >
                    حذف
                </div>
                </a>
                </div>
              </td>
            </tr>
        </tbody>

        </table>
      </div>


    </div>
  </section>
  <!-- End Section -->


{% endblock content %}
