{% extends "base.html" %}
{% block content %}


  <!-- Start Section -->
  <section class="main-section users">
    <div class="container">
      <h4 class="main-heading">فواتير الوارد</h4>
      <div
        class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-2"
      >
        <div class="d-flex align-items-center gap-2">
          <input
            type="text"
            class="form-control"
            placeholder="أبحث عن بضاعة"
            name=""
            id=""
          />
        </div>
        <a href="{% url 'invoice:add_edit_import_invoice' %}"><button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-add"
          class="btn-main-sm"
        >
          أضف بضاعة
          <i class="icon fa-solid fa-plus"></i>
        </button>
        </a>
      </div>
      <div class="table-responsive">
        <table class="table main-table">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">اسم التاجر</th>
              <th class=" hide-mob text-center">إجمالي الكمية</th>
              <th class=" hide-mob text-center"> التاريخ</th>
              <th class=" hide-mob text-center"> رقم الفاتورة</th>
              <th class=" hide-mob text-center"> لم يتم التصدير</th>
              <th class="text-center"> التفاصيل</th>
              <th class="text-center"> التحكم</th>

            </tr>
          </thead>
          {% for inv in import_invoices %}

            
          <tbody class="tbody-detail" data-bs-toggle="modal"
          data-bs-target="#modal-permission-{{ inv.id }}">
            <tr>
              <td class="text-center">{{forloop.counter}}</td>
              <td class="text-center"><a href="{% url 'invoice:import_invoice_detail' inv.id%}">{{inv.dealer}}</a></td>
              <td class=" hide-mob text-center">{{inv.total_yards}}</td>
              <td class=" hide-mob text-center">{{inv.date|date:"Y-m-d"}}</td>
              <td class=" hide-mob text-center">1</td>
              <td class="text-center">2</td>
              <td class=" hide-mob text-center">{{inv.description|truncatechars:20}}</td>
              <td class=" hide-mob text-center">
                <div
                  class="d-flex align-items-center justify-content-center gap-1"
                >
                <a href="{% url 'invoice:add_edit_import_invoice' %}"><div
                    class="btn btn-sm btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-edit"
                  >
                    تعديل
                  </div>
                </a>
                <a href="{% url 'invoice:add_edit_import_invoice' %}"><div
                    class="btn btn-sm btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-delete"
                  >
                    حذف
                  </div>
                </a>
                </div>
              </td>
              
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      {% for inv in import_invoices %}
      <div
      class="modal fade"
      id="modal-permission-{{ inv.id }}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class=" text-center">وارد</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h6>التاجر :   {{inv.invortinvoicedetail.invoice.dealer  }}</h6>
            <h6>اسم العمل :   {{inv.type_name}}</h6>
              <h6>الوارات :   {{inv.yard}}</h6>
              <h6>رقم الفاتورة :   {{inv.invoice_num}}</h6>
              <h6>التاريخ :   {{inv.date|date:"Y-m-d"}}</h6>
              <h6>تم التصدير :   {{inv.is_exported}}</h6>
              <p>التفاصيل :   {{inv.description}}</p>
            
            <!-- Add more details as needed -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              style="font-size: 12px"
              data-bs-dismiss="modal"
            >
              الغاء
            </button>
            <div
            class="d-flex align-items-center justify-content-center gap-1"
          >
          <a href="{% url 'invoice:add_edit_import_invoice' %}"><div
              class="btn btn-sm btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#modal-edit"
            >
              تعديل
            </div>
          </a>
          <a href="{% url 'invoice:add_edit_import_invoice' %}"><div
              class="btn btn-sm btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#modal-delete"
            >
              حذف
            </div>
          </a>
          </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </section>



  {% endblock content %}